/*$brown:#5a392e;
$orange:#AC5223;
$white:#ebefd3;
$taupe:#C5A98F;
$gray:#B5B5B5;
$black:#222;
$biege:#EFCDA4;
$green:#747B6B;*/

body {
  margin:0 auto;
  text-align:center;
  background:#00BCE1;
}


/*
 * Base Container (Anchor)
 */

.container {
  position: relative;
  width: 500px;
  height: 650px;
  display: block;
  margin: 100px auto;
}


/*
 * Face
 */

.tiger {
  position: absolute;
  width: 100%;
  height: 67%;
  z-index: 2;
  background-color: #AC5223;
  border-radius: 200px;
}


/*
 * Ears
 */

.tiger__ear {
  position: absolute;
  top: -20px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #222;
  z-index: 0;
}

.tiger__ear__inner {
  position: absolute;
  bottom: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #EBEFD3;
  z-index: 1;
}

.tiger__ear--left {
  left: -20px;
}

.tiger__ear--right {
  right: -20px;
}

.tiger__ear--left .tiger__ear__inner {
  right: 25px;
}

.tiger__ear--right .tiger__ear__inner {
  left: 25px;
}
