/*
 * Pizza Styles
 */


/*
 * Base
 */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background-color: #00BCE1;
}


/*
 * Simple Pizza
 */

.pizza {
  position: relative;
  height: 280px;
  width: 280px;
  z-index: 0;
  border-radius: 100%;
  background-color: #BBB083;
}

.cheese {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background-color: #FFDC73;
  z-index: 1;
}


/*
 * Toppings
 */

.topping {
  position: absolute;
  z-index: 2;
}


/*
 * Pepperonis (Solid Circles)
 */

.pepperoni {
  height: 25px;
  width: 25px;
  background-color: #CC333F;
  border-radius: 100%;
}

.pepperoni:nth-child(1) {
  /*top:;
  left:;*/
}


/*
 * Black Olives (Rings)
 */

.black-olive {
  height: 9px;
  width: 9px;
  border: 8px solid #000;
  border-radius: 100%;
}


/*
 * Green Peppers (Triangles)
 */

.green-pepper {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #4D90FE transparent transparent transparent;
}

.mushroom {
  position: relative;
}

.mushroom__top {

}

.mushroom__bottom {

}


/*
 * Supreme Pizza
 * inspired by https://codepen.io/cobra_winfrey/pen/ygojOG
 */

.pizza--supreme {
  position: relative;
  height: 40vmin;
  width: 40vmin;
  z-index: 0;
  animation: rotate 26s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.slice {
  position: absolute;
  width: 1px; /* solves off-by-one px issue w/ border size */
  height: 0;
  border-style: solid;
  border-width: 20vmin 5vmin 0 5vmin;
  border-color: #ffdc73 transparent transparent transparent;
  left: 15vmin;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
  z-index: 1;
  animation: loading 1.8125s ease-in-out infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*
 * Crust
 */

.slice:before {
  content: '';
  position: absolute;
  height: 3vmin;
  width: 12vmin;
  background-color: #bbb083;
  top: -21vmin;
  left: -6vmin;
  border-radius: 200vmin 200vmin 1vmin 1vmin / 100vmin 100vmin;
}


/*
 * Pepperonis
 */

.slice:after {
  content: '';
  border-radius: 100%;
  position: absolute;
  width: 2.5vmin;
  height: 2.5vmin;
  background-color: #CC333F;
  left: -2vmin;
  top: -14vmin;
  z-index: 2;
}

.slice:nth-of-type(2n):after {
  box-shadow: 1vmin 5vmin 0 #CC333F;
}

.slice:nth-of-type(4n):after {
  box-shadow: 1vmin 5vmin 0 #CC333F, 3vmin 10vmin 0 #CC333F;
}


/*
 * Spinning Slices
 */

.slice:nth-of-type(1) {
  transform: rotate(-27.75deg); /* increment by 360/13 degrees */
  animation-delay: -0.0625s;  /* increment by 1/16 of a second */
}

.slice:nth-of-type(2) {
  transform: rotate(-55.5deg);
  animation-delay: -0.125s;
}

.slice:nth-of-type(3) {
  transform: rotate(-83.25deg);
  animation-delay: -0.1875s;
}

.slice:nth-of-type(4) {
  transform: rotate(-111deg);
  animation-delay: -0.25s;
}

.slice:nth-of-type(5) {
  transform: rotate(-138.75deg);
  animation-delay: -0.3125s;
}

.slice:nth-of-type(6) {
  transform: rotate(-166.5deg);
  animation-delay: -0.375s;
}

.slice:nth-of-type(7) {
  transform: rotate(-194.25deg);
  animation-delay: -0.4375s;
}

.slice:nth-of-type(8) {
  transform: rotate(-222deg);
  animation-delay: -0.5s;
}

.slice:nth-of-type(9) {
  transform: rotate(-249.75deg);
  animation-delay: -0.5625s;
}

.slice:nth-of-type(10) {
  transform: rotate(-277.5deg);
  animation-delay: -0.625s;
}

.slice:nth-of-type(11) {
  transform: rotate(-305.25deg);
  animation-delay: -0.6875s;
}

.slice:nth-of-type(12) {
  transform: rotate(-333deg);
  animation-delay: -0.75s;
}
