/*
 * Pizza Styles
 */


/*
 * Base
 */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #00BCE1;
}


/*
 * Pizza
 */

.pizza {
  position: relative;
  height: 280px;
  width: 280px;
  z-index: 0;
  border-radius: 100%;
  background-color: #BBB083;
}

.cheese {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background-color: #FFDC73;
  z-index: 1;
}


/*
 * Toppings
 */

.topping {
  position: absolute;
  z-index: 2;
}


/*
 * Pepperonis (Solid Circles)
 */

.pepperoni {
  height: 35px;
  width: 35px;
  background-color: #CC333F;
  border-radius: 100%;
}

.pepperoni:nth-child(1) {
  left: 15%;
  top: 30%;
}

.pepperoni:nth-child(2) {
  left: 60%;
  top: 35%;
}

.pepperoni:nth-child(3) {
  left: 50%;
  top: 65%;
}


/*
 * Black Olives (Rings)
 */

.black-olive {
  height: 15px;
  width: 15px;
  border: 10px solid #000;
  border-radius: 100%;
}

.black-olive:nth-child(1) {
  left: 40%;
  top: 15%;
}

.black-olive:nth-child(2) {
  left: 20%;
  top: 55%;
}

.black-olive:nth-child(3) {
  left: 75%;
  top: 25%;
}


/*
 * Green Peppers (Triangles)
 */

.green-pepper {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 15px 0 15px;
  border-color: #67A443 transparent transparent transparent;
}

.green-pepper:nth-child(1) {
  left: 65%;
  top: 60%;
}

.green-pepper:nth-child(2) {
  left: 35%;
  top: 45%;
}

.green-pepper:nth-child(3) {
  left: 55%;
  top: 15%;
}


/*
 * Mushrooms (Multi-Part Shape)
 */

.mushroom {
  position: relative;
  width: 32px;
  height: 16px;
}

.mushroom__top, .mushroom__bottom {
  position: absolute;
  background-color: #f8f8f8;
}

.mushroom__top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 75%;
}

.mushroom__bottom {
  width: 50%;
  height: 75%;
  top: 10px;
  left: 8px;
}

.mushroom:nth-child(1) {
  left: 100px;
  top: 200px;
}

.mushroom:nth-child(2) {
  left: 125px;
  top: 100px;
}

.mushroom:nth-child(3) {
  left: 210px;
  top: 130px;
}


/*
 * Animation
 */

.pizza {
  /*animation: rotate 26s linear infinite;*/
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

