/*
 * Pizza Styles
 */


/*
 * Base
 * Use flexgrid to center pizza based on viewport height and width
 */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00BCE1;
}


/*
 * Pizza (Parent Element)
 * Apply position relative to anchor child elements.
 * Apply lowest z-index.
 */

.pizza {
  position: relative;
  height: 280px;
  width: 280px;
  z-index: 0;
  border-radius: 100%;
  background-color: #BBB083;
}


/*
 * Toppings (Child Elements)
 * Position absolutely to pizza parent element
 * Apply z-index to layer above pizza.
 */

.cheese {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background-color: #FFDC73;
  z-index: 1;
}

.topping {
  position: absolute;
  z-index: 2;
}


/*
 * Pepperonis (Solid Circles)
 * Apply border radius and background color
 */

.pepperoni {
  height: 35px;
  width: 35px;
  background-color: #CC333F;
  border-radius: 100%;
}

.pepperoni:nth-child(1) {
  left: 15%;
  top: 30%;
}

.pepperoni:nth-child(2) {
  left: 60%;
  top: 35%;
}

.pepperoni:nth-child(3) {
  left: 50%;
  top: 65%;
}


/*
 * Black Olives (Rings)
 * Apply solid border and border radius
 */

.black-olive {
  height: 15px;
  width: 15px;
  border: 10px solid #000;
  border-radius: 100%;
}

.black-olive:nth-child(1) {
  left: 40%;
  top: 15%;
}

.black-olive:nth-child(2) {
  left: 20%;
  top: 55%;
}

.black-olive:nth-child(3) {
  left: 75%;
  top: 25%;
}


/*
 * Green Peppers (Triangles)
 * Apply solid border, one side with color and zero width,
 * the other three sides transparent with set widths.
 */

.green-pepper {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 15px 0 15px;
  border-color: #67A443 transparent transparent transparent;
}

.green-pepper:nth-child(1) {
  left: 65%;
  top: 60%;
}

.green-pepper:nth-child(2) {
  left: 35%;
  top: 45%;
}

.green-pepper:nth-child(3) {
  left: 55%;
  top: 15%;
}


/*
 * Mushrooms (Multi-Part Shape)
 * Position parent .mushroom element relative, with child .mushroom__top
 * and .mushroom__bottom elements positioned absolute. Apply border radius
 * to childrens' top borders only.
 */

.mushroom {
  position: relative;
  width: 32px;
  height: 16px;
}

.mushroom__top, .mushroom__bottom {
  position: absolute;
  background-color: #f8f8f8;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.mushroom__top {
  width: 100%;
  height: 75%;
}

.mushroom__bottom {
  width: 50%;
  height: 75%;
  top: 10px;
  left: 8px;
}

.mushroom:nth-child(1) {
  left: 100px;
  top: 200px;
}

.mushroom:nth-child(2) {
  left: 125px;
  top: 100px;
}

.mushroom:nth-child(3) {
  left: 210px;
  top: 130px;
}


/*
 * Keyframe Animations
 * https://robots.thoughtbot.com/css-animation-for-beginners
 */

.pizza {
  /*animation: rotate 26s linear infinite;*/
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
