/*
 * Sunset Styles
 */


/*
 * Base
 * Position relative and set to full width and height of viewport.
 */

.sunset {
  position: relative;
  height: 100vh;
  width: 100vw;
}


/*
 * Sky
 * Position absolute from top of page and set full width.
 * Each child sky element should take up an equal height on page.
 */

.sky {
  /*animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;*/
}
.sky:nth-child(1) {
  /*background-color: #718198;
  animation-name: nightDay;*/
}
.sky:nth-child(2) {
  /*background-color: #9197A2;
  animation-name: nightDay2;*/
}
.sky:nth-child(3) {
  /*background-color: #B6AA9E;
  animation-name: nightDay3;*/
}
.sky:nth-child(4) {
  /*background-color: #D8A87C;
  animation-name: nightDay4;*/
}
.sky:nth-child(5) {
  /*background-color: #D56E47;
  animation-name: nightDay5;*/
}


/*
 * Sun
 * Position absolute and apply border radius and box shadow.
 * Add animation rising/setting animation.
 */

.sun {
  /*background-color: #F5D659;*/
  /*box-shadow: 0px 0px 70px #F5D659;*/

  /*animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: moveUp;*/

  /*animation: moveUp 5s ease-in-out 0s infinite alternate-reverse;*/
}


/*
 * Mountains
 * Position absolute and apply solid border, one side with color and
 * zero width, the other three sides transparent with set widths.
 * Vary height of each mountain.
 */

.mountain {
  /*border-color: transparent transparent #231207 transparent;*/
}
.mountain:nth-child(1) {
}
.mountain:nth-child(2) {
}
.mountain:nth-child(3) {
}
.mountain:nth-child(4) {
}


/*
 * Lumpy Space Cloud
 * Position lump absolute and apply opacity.
 * Add animation to move left to right.
 */

.lumpy-space-cloud {
  /*animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: moveSideways;*/

  /*animation: moveSideways 3s ease-in-out 0s infinite alternate-reverse;*/
}
.lump {
  /*background-color: #fff;*/
}
.lump:nth-child(1) {
}
.lump:nth-child(2) {
}
.lump:nth-child(3) {
}
.lump:nth-child(4) {
}


/*
 * Animations
 */

/* Transform on the y axis */
@keyframes moveUp {
}

/* Transform on the x axis */
@keyframes moveSideways {
}

/* Rotate background colors */
@keyframes nightDay {
  0%   { background-color: #C9D5E5; }
  10%  { background-color: #C9D5E5; }
  20%  { background-color: #A0B1C1; }
  30%  { background-color: #8FA4B5; }
  40%  { background-color: #7F94A7; }
  50%  { background-color: #718198; }
  60%  { background-color: #5E708A; }
  70%  { background-color: #4F5E77; }
  80%  { background-color: #42516A; }
  90%  { background-color: #2B3754; }
  100% { background-color: #000000; }
}
@keyframes nightDay2 {
  0%   { background-color: #C9D5E5; }
  10%  { background-color: #C9D5E5; }
  20%  { background-color: #BEC7CB; }
  30%  { background-color: #B0B7BF; }
  40%  { background-color: #A1A7B2; }
  50%  { background-color: #9197A2; }
  60%  { background-color: #71788B; }
  70%  { background-color: #5E697D; }
  80%  { background-color: #5D6175; }
  90%  { background-color: #384256; }
  100% { background-color: #000000; }
}
@keyframes nightDay3 {
  0%   { background-color: #C9D5E5; }
  10%  { background-color: #C9D5E5; }
  20%  { background-color: #E2DECC; }
  30%  { background-color: #D3CBBF; }
  40%  { background-color: #C5BCB4; }
  50%  { background-color: #B6AA9E; }
  60%  { background-color: #98918D; }
  70%  { background-color: #897D7B; }
  80%  { background-color: #7A6C69; }
  90%  { background-color: #484550; }
  100% { background-color: #000000; }
}
@keyframes nightDay4 {
  0%   { background-color: #C9D5E5; }
  10%  { background-color: #C9D5E5; }
  20%  { background-color: #FFE1AD; }
  30%  { background-color: #EDCA9E; }
  40%  { background-color: #E5B98C; }
  50%  { background-color: #D8A87C; }
  60%  { background-color: #B48D6C; }
  70%  { background-color: #A4704F; }
  80%  { background-color: #A57253; }
  90%  { background-color: #5F3E36; }
  100% { background-color: #000000; }
}
@keyframes nightDay5 {
  0%   { background-color: #C9D5E5; }
  10%  { background-color: #C9D5E5; }
  20%  { background-color: #FED588; }
  30%  { background-color: #F7A86D; }
  40%  { background-color: #E6955C; }
  50%  { background-color: #D56E47; }
  60%  { background-color: #AC503A; }
  70%  { background-color: #903B30; }
  80%  { background-color: #7C2F2A; }
  90%  { background-color: #551E1F; }
  100% { background-color: #000000; }
}
